{
  "extends": "airbnb-base",
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true,
      "modules": true
    }
  },
  "env": {
    "node": true,
    "browser": true,
    "es6": true
  },
  "rules": {
    "no-console": "off", // console are allowed
    "quotes": "off", // Double quotes are allowed
    "object-shorthand": "off", // Object propery shorthand
    "prefer-const": "off",
    "no-param-reassign": "off",
    "no-else-return": "off",
    "semi": "warn",
    "arrow-parens": "off",
    "no-shadow": "off",
    "padded-blocks": "off",
    "no-trailing-spaces": "off",
    "arrow-body-style": "off",
    "comma-dangle": ["warn"],
    "no-unused-vars": [
      "warn",
      {
        "vars": "local",
        "args": "none"
      }
    ],
    "react/jsx-filename-extension": 0
  }
}
